Options -Indexes
Options +FollowSymLinks +ExecCGI
Options FollowSymLinks

RewriteEngine on
RewriteBase /

RewriteRule ^index.html$ index.php [L]
RewriteRule ^([A-Za-z0-9]+)/?$ index.php?c=$1 [L]
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ index.php?c=$1&a=$2 [L]
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ index.php?c=$1&a=$2&p1=$3 [L]
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ index.php?c=$1&a=$2&p1=$3&p2=$4 [L]

#allows everything if its on a certain host
#Order Deny,Allow

ErrorDocument 404 /404.html 

